.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #333;
  padding: 1rem;
  flex-direction: column;
}

.container h1 {
  color: white;
}

.element {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media screen and (max-width: 992px) {
  .element {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .element {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .container h1 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 500px) {
  .element {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .container h1 {
    font-size: 1.4rem;
  }
}
